.sub_form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 7rem);
}

.sub_input {
	background-color: rgb(75 85 99 /1);
	border-radius: 0.5rem;
	border-width: 2px;
	width: 100%;
	padding: 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.sub_btn {
	background-color: rgb(22 163 74 / 1);
	font-weight: 700;
	padding: 1rem;
	border-radius: 0.5rem;
}

.sub_btn:hover {
	background-color: rgb(21 128 61 /1);
}

.sub_title {
	font-weight: 700;
	font-size: 1.875rem;
	line-height: 2.25rem;
}

.sub_header {
	display: flex;
	justify-content: space-between;
}

.sub_delete {
	background-color: rgb(239 68 68 / 1);
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	border-radius: 0.375rem;
}